<%- include("navbar.ejs") %>

<form action="/admin/contact_banner" method="post" enctype="multipart/form-data">
 
    <div class="container fw-bolder">
        <div class="row">
            <div class="col-md-12 mb-3">
                <h3>Manage Banner</h3>
            </div>
            <div class="col-md-6 mb-3">
                Enter Title
                <input type="text" name="banner_title" value="<%=contact_banner[0].banner_title%>" class="form-control">
            </div>
            <div class="col-md-6 mb-3">
                Enter Details
                <input type="text" name="banner_details" value="<%=contact_banner[0].banner_details%>" class="form-control">
            </div>
            <div class="col-md-6 mb-3">
                Shop Now Link
                <input type="text" name="banner_link" value="<%=contact_banner[0].banner_link%>" class="form-control">
            </div>
            
            <div class="col-md-4 mb-3">
                Banner Image
                <input type="file" name="banner_image"  class="form-control">
            </div>
            <div class="col-md-2">
                <img src="/uploads/<%=contact_banner[0].banner_image%>" width="100%">
            </div>
            <div class="col-md-12 mt-3 text-center ">
                <button class="btn btn-primary">Save Banner</button>
            </div>
        </div>
    </div>
</form>

<%- include("footer.ejs") %>