<%-include('navbar.ejs')%>
<script src="https://kit.fontawesome.com/7ce8200eeb.js" crossorigin="anonymous"></script>
<div class="container mt-5">

    <div class="row">
        <div class="col-3" style="background-color: #2a2c31;margin-left:40%;">
           
            <span class="w-100 ms-2 mb-3">
                <img style="height:180px;width:200px;" class="avatar-img rounded-circle border border-white border-3 shadow ms-5 mt-2" src="/uploads/<%=hrishi.user_photo%>">
            <h5 class="text-center text-white mt-4"><%=hrishi.user_name%></h5>
            <h6 class="text-center  text-secondary"><%=hrishi.email_id%></h6>
            <h6 class="text-center  text-secondary"><%=hrishi.user_gender%></h6>
            <ul class="mt-3">
                <li class=" mt-2 text-white">
                    <a class="text-white nav-link" href="/profile"><i class="fa-regular fa-user me-3"></i>My Profile</a>
                </li>
                
               
                <li class=" mt-2 text-white">
                    <a class="nav-link text-white" href="/my_orders" ><i class="fa-solid fa-cart-shopping me-3"></i>My orders</a>
                </li>
                <li class=" mt-2 text-white">
                    <a class="nav-link text-white"  href="/cart"><i class="fa fa-cart-plus me-3"></i>Cart</a>
                </li>
                <li class=" mt-2 text-white">
                    <a class="nav-link  text-danger bg-danger-soft-hover" href="/logout"><i class="fas fa-sign-out-alt fa-fw me-2"></i>Sign Out</a>
                </li>
            </ul>
        </div>
    
    </div>
</div>
<br><br><br>
<%-include('footer.ejs')%>

<style>
    li
    {
        list-style-type: none;
    }
</style>