<%- include("navbar.ejs") %>

		<!-- Start Hero Section -->
        <div class="hero">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-5">
                        <div class="intro-excerpt">
                            <h1><%=services_banner.banner_title%></h1>
                             <p class="mb-4"><%=services_banner.banner_details%></p>                    
                           
                            <p><a href="<%=services_banner.banner_link%>" class="btn btn-secondary me-2">Shop Now</a><a href="#" class="btn btn-white-outline">Explore</a></p>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="hero-img-wrap">
                            <img src="/uploads/<%=services_banner.banner_image%>" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- End Hero Section -->

    

    <!-- Start Why Choose Us Section -->
    <div class="why-choose-section">
        <div class="container">
            
            
            <div class="row my-5">


                 <%  for(var i=0;i<key_point_info.length;i++)
                        { %>
                            <div class="col-6 col-md-6 col-lg-3 mb-4">
                                <div class="feature">
                                    <div class="icon">
                                        <img src="/uploads/<%=key_point_info[i].key_point_image%>" alt="Image" class="imf-fluid">
                                    </div>
                                    <h3><%=key_point_info[i].why_choose_headnig%></h3>
                                    <p><%=key_point_info[i].why_choose_details%></p>
                                </div>
                            </div>
                        <% } %>

                        <%  for(var i=0;i<key_point_info.length;i++)
                        { %>
                            <div class="col-6 col-md-6 col-lg-3 mb-4">
                                <div class="feature">
                                    <div class="icon">
                                        <img src="/uploads/<%=key_point_info[i].key_point_image%>" alt="Image" class="imf-fluid">
                                    </div>
                                    <h3><%=key_point_info[i].why_choose_headnig%></h3>
                                    <p><%=key_point_info[i].why_choose_details%></p>
                                </div>
                            </div>
                        <% } %>
            </div>
        
        </div>
    </div>
    <!-- End Why Choose Us Section -->

    <!-- Start Testimonial Slider -->
    <div class="testimonial-section before-footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mx-auto text-center">
                    <h2 class="section-title">Testimonials</h2>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="testimonial-slider-wrap text-center">

                        <div id="testimonial-nav">
                            <span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
                            <span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
                        </div>

                        <div class="testimonial-slider">
                            
                            <% for(var i=0;i<testimonials_info.length;i++){ %>
                                    
                                <div class="item">
                                    <div class="row justify-content-center">
    
                                        <div class="col-lg-8 mx-auto">
    
                                            <div class="testimonial-block text-center">
                                                <blockquote class="mb-5">
                                                    <p>&ldquo;<%=testimonials_info[i].customer_message%>&rdquo;</p>
                                                </blockquote>
    
                                                <div class="author-info">
                                                    <div class="author-pic">
                                                        <img src="/uploads/<%=testimonials_info[i].customer_photo%>" alt="Maria Jones" class="img-fluid">
                                                    </div>
                                                    <h3 class="font-weight-bold"><%=testimonials_info[i].customer_name%></h3>
                                                    <span class="position d-block mb-3"><%=testimonials_info[i].customer_position%></span>
                                                </div>
                                            </div>
    
                                        </div>
                                        
                                    </div>
                                </div>
                              <% } %>
                            <!-- END item -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonial Slider -->

<%- include("footer.ejs") %>
